<div class="container" *ngIf="allowed; else loggedOut">
    <div [hidden]="!errorBool">
        ERROR: {{errorMsg}}
    </div>
<form [formGroup]="updateRoomForm" (ngSubmit)="onSubmit()">
<div id="content">
    <div>
         <mat-form-field appearance="outline">
        <mat-label >Room Number</mat-label>
        <input  matInput type="number" formControlName="roomNumber">
        <mat-error *ngIf="roomNumber.errors?.required">Required!</mat-error>

    </mat-form-field>
    </div>
    
    <div>
         <mat-form-field appearance="outline">
        
        <mat-label >Type of Room</mat-label>
        <input
        matInput type="text" formControlName="type">
        <mat-error *ngIf="type.errors?.required">Required!</mat-error>

    </mat-form-field>

    </div>
   
    <div>
         <mat-form-field appearance="outline">

        <mat-label >Type Id: </mat-label>
        <input matInput type="number" formControlName="typeId">
        <mat-error *ngIf="typeId.errors?.required">Required!</mat-error>
        <mat-hint>1:King, 2:Luxury, 3: Standard</mat-hint>
    </mat-form-field>

    </div>
    <div>
        <mat-slide-toggle formControlName="smoke">Smoking Allowed</mat-slide-toggle>
         <!-- <mat-form-field appearance="outline">

        <mat-label >Smoking Allowed?</mat-label>
        <input matInput type="number" formControlName="smoke">
        <mat-error *ngIf="smoke.errors?.required">Required!</mat-error>

    </mat-form-field> -->

    </div>
    <div>
         <mat-form-field appearance="outline">

        <mat-label >Price</mat-label>
        <input matInput type="number" formControlName="price">
        <mat-error *ngIf="price.errors?.required">Required!</mat-error>

    </mat-form-field>
 </div>
</div>
<button style="margin: 15px;" mat-raised-button [disabled]="!updateRoomForm.valid" type="submit">Update</button>
<button mat-raised-button (click)="onCancel()" type="button">Cancel</button>
</form>
</div>

<ng-template #loggedOut>
    NOT ALLOWED
  </ng-template>