
<div class="container" *ngIf="allowed; else loggedOut">
    <div [hidden]="!errorBool">
        ERROR: {{errorMsg}}
    </div>
<form [formGroup]="addInventoryForm" (ngSubmit)="onSubmit()">
<div id="content">
  
    
    <div>
         <mat-form-field appearance="outline">
        
        <mat-label >Name</mat-label>
        <input
        matInput type="text" formControlName="name">
        <mat-error *ngIf="name.errors?.required">Required!</mat-error>

    </mat-form-field>

    </div>
    <div>
        <mat-form-field appearance="outline">
       <mat-label >Number of inventory</mat-label>
       <input  matInput type="number" formControlName="amount">
       <mat-error *ngIf="amount.errors?.required">Required!</mat-error>

   </mat-form-field>
   </div>
 
   
</div>
<button style="margin: 15px;" mat-raised-button [disabled]="!addInventoryForm.valid" type="submit">Update</button>
<button mat-raised-button (click)="onCancel()" type="button">Cancel</button>
</form>
</div><ng-template #loggedOut>
    NOT ALLOWED
  </ng-template>