<div class="container" *ngIf="allowed; else loggedOut">


    <mat-toolbar>
        <a (click)="addDepartment()" mat-raised-button routerLink="/add" routerLinkActive="active">Add</a>
    
        <!-- <a mat-raised-button >Add</a> -->
    </mat-toolbar>
    <div>
        <div class="all-rooms">
            <!-- {{staff|json}} -->
            <br>
            <mat-form-field appearance="standard">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Room Number" #input>
            </mat-form-field>
            <table style="width: 100%;" mat-table [dataSource]="departmentDataSource" class="mat-elevation-z8">
    
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> Id </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
              
                <ng-container matColumnDef="departmentName">
                  <th mat-header-cell *matHeaderCellDef>Department Name</th>
                  <td mat-cell *matCellDef="let element"> {{element.departmentName}} </td>
                </ng-container>
              
                <ng-container matColumnDef="numberOfStaff">
                  <th mat-header-cell *matHeaderCellDef>Number of Staff</th>
                  <td mat-cell *matCellDef="let element"> {{element.numberOfStaff}} </td>
                </ng-container>
              
                  <ng-container matColumnDef="updateDepartment">
                    <th mat-header-cell *matHeaderCellDef> Update </th>
                    <td mat-cell *matCellDef="let element"> 
                      <button mat-raised-button color="primary" (click)="updateDepartment(element)">Update</button>
                     </td>
                  </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
              </table>
              
              
        </div>
    </div>
</div>

<ng-template #loggedOut>
    NOT ALLOWED
  </ng-template>