
<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">
  
  <h1 style="margin: 5px;">HMS</h1>
    <div class="spacer"></div>
   
</div> -->

<div class="content" role="main">

</div>
<mat-toolbar color="primary" class="navbar">
  <span>HMS</span><br>
  <div>
    <!-- change depending on role  -->
    
  <a  mat-raised-button routerLink="/staff" routerLinkActive="active">Staff</a>
  <a  mat-raised-button routerLink="/rooms" routerLinkActive="active">Rooms</a>
  <a  mat-raised-button routerLink="/ics" routerLinkActive="active">ICS</a>

</div>
</mat-toolbar>

<router-outlet></router-outlet>
<!-- routed views go here -->