
<div id="main"  *ngIf="isLoggedIn; else loggedOut">
    <div [hidden]="!errorBool">
        ERROR: {{errorMsg}}
    </div>
<form [formGroup]="addStaffForm" (ngSubmit)="onSubmit()">
<div id="content">
    <div>
         <mat-form-field appearance="outline">
        <mat-label >Member Code</mat-label>
        <input  matInput type="number" formControlName="staffCode">
        <mat-error *ngIf="staffCode.errors?.required">Required!</mat-error>

    </mat-form-field>
    </div>
    
    <div>
         <mat-form-field appearance="outline">
        
        <mat-label >Name</mat-label>
        <input
        matInput type="text" formControlName="empName">
        <mat-error *ngIf="empName.errors?.required">Required!</mat-error>

    </mat-form-field>

    </div>
   
    <div>
         <mat-form-field appearance="outline">

        <mat-label >Salary</mat-label>
        <input matInput type="number" formControlName="empSalary">
        <mat-error *ngIf="empSalary.errors?.required">Required!</mat-error>

    </mat-form-field>

    </div>
    <div>
         <mat-form-field appearance="outline">

        <mat-label >Age</mat-label>
        <input matInput type="number" formControlName="empAge">
        <mat-error *ngIf="empAge.errors?.minlength">Minimum age is 18!</mat-error>
        <mat-error *ngIf="empAge.errors?.required">Required!</mat-error>

    </mat-form-field>

    </div>
    <div>
         <mat-form-field appearance="outline">

        <mat-label >Occupation</mat-label>
        <input matInput type="text" formControlName="empOccupation">
        <mat-error *ngIf="empOccupation.errors?.required">Required!</mat-error>

    </mat-form-field>

    </div>
    <div>
         <mat-form-field appearance="outline">

        <mat-label >Email</mat-label>
        <input matInput type="email" formControlName="empEmail">
        <mat-error *ngIf="empOccupation.errors?.required">Required!</mat-error>
        <mat-error *ngIf="empOccupation.errors?.email">Not a valid email!</mat-error>

    </mat-form-field>

    </div>
    <div formGroupName="empAddress" id="addresscontent" > 
           <div class="form-group">
            <mat-form-field appearance="outline">
   
             <mat-label >Street</mat-label>
             <input matInput type="text" formControlName="street"  >
        <mat-error *ngIf="street.errors?.required">Required!</mat-error>

       </mat-form-field>
   
           </div>
           <div class="form-group">
            <mat-form-field appearance="outline">
   
             <mat-label >Zip code</mat-label>
             <input matInput type="number" formControlName="zipCode"  >
        <mat-error *ngIf="zipcode.errors?.required">Required!</mat-error>

       </mat-form-field>
   
           </div>
           <div class="form-group">
                <mat-form-field appearance="outline">
       
                 <mat-label >City</mat-label>
                 <input matInput type="text" formControlName="city"  >
        <mat-error *ngIf="city.errors?.required">Required!</mat-error>

           </mat-form-field>
       
               </div>
               <div class="form-group">
                    <mat-form-field appearance="outline">
           
                     <mat-label >Country</mat-label>
                     <input matInput type="text" formControlName="country"  >
        <mat-error *ngIf="country.errors?.required">Required!</mat-error>

               </mat-form-field>
           
                   </div>
         </div>  
</div>
<button style="margin: 15px;" mat-raised-button [disabled]="!addStaffForm.valid" type="submit">Add</button>
<button mat-raised-button (click)="onCancel()" type="button">Cancel</button>
</form>
</div>
<ng-template #loggedOut>
    NOT ALLOWED
  </ng-template>