<p>update-department works!</p>
<div class="container" *ngIf="allowed; else loggedOut">
    
<div>
    <div [hidden]="!errorBool">
        ERROR: {{errorMsg}}
    </div>
<form [formGroup]="updateDepartmentForm" (ngSubmit)="onSubmit()">
    {{updateDepartmentForm.value|json}}
<div id="content">
  
    
    <div>
         <mat-form-field appearance="outline">
        
        <mat-label >Department Name</mat-label>
        <input
        matInput type="text" formControlName="departmentName">
        <mat-error *ngIf="departmentName.errors?.required">Required!</mat-error>

    </mat-form-field>

    </div>
    <div>
        <mat-form-field appearance="outline">
       <mat-label >Number of Staff</mat-label>
       <input  matInput type="number" formControlName="numberOfStaff">
       <mat-error *ngIf="numberOfStaff.errors?.required">Required!</mat-error>

   </mat-form-field>
   </div>
 
   
</div>
<button style="margin: 15px;" mat-raised-button [disabled]="!updateDepartmentForm.valid" type="submit">Update</button>
<button mat-raised-button (click)="onCancel()" type="button">Cancel</button>
</form>
</div>
</div><ng-template #loggedOut>
    NOT ALLOWED
  </ng-template>